@*@model jritchieFinancialPortal.Models.CodeFirst.Household*@
@model jritchieFinancialPortal.Models.HouseholdUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household.Established)
        </dt>

        <dd>
            @Html.ToUserTime(Model.Household.Established, ViewBag.UserTimeZone as string, "MM/dd/yyyy | hh:mm:ss")
            @*@Html.DisplayFor(model => model.Established)*@
        </dd>
    </dl>


    <table class="table">
        <tr>
            <th>Members</th>
            @*<th></th>*@
            <th></th>
        </tr>

        @foreach (var member in Model.SelectedUsers)
        {
            <tr>
                <td>
                    @member.Fullname
                </td>

                @if (member.Id == ViewBag.CurrentUserId)
                {
                    <td>
                        @Html.ActionLink("Update Profile", "Index", "Manage")
                    </td>

                    <td>
                        @Html.ActionLink("Leave this Household", "LeaveHousehold", "Households")
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }

            </tr>
        }

    </table>
</div>

<hr />

<p>Invite another person to join this Household</p>

@{if (Request.IsAuthenticated)    // Confirm user is logged in before allowing Invitation creation.
    {
        using (Html.BeginForm("Create", "Invitations", new { HouseholdId = Model.Household.Id }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <div>
                <input name="Email" />
                @*<textarea rows="5" name="Body" style="max-width:none !important; width:100%">@ViewBag.Comment</textarea>*@
                <button class="btn btn-primary center-block" type="submit">Submit Invitation</button>
            </div>
        }
    }
}

@Html.ActionLink("Review Invitations", "Index", "Invitations", null, null)

<hr />


<p>
    @Html.ActionLink("Edit this Household's Details", "Edit", new { id = Model.Household.Id })
    
    @{ 
        if (User.IsInRole("Admin"))
        {
            <span>&nbsp;|&nbsp;</span>
            @Html.ActionLink("Back to List", "Index")
        }
    }
</p>
