@*@model jritchieFinancialPortal.Models.CodeFirst.Household*@
@model jritchieFinancialPortal.Models.HouseholdUserViewModel

@{
    ViewBag.Title = "Household Details";
}

<div class="container slide-in-right">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <div class="row">
                    <h4 class="header-title m-t-0 m-b-30">Household Details</h4>

                    <hr />

                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Household.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Household.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Household.Established)
                            </dt>

                            <dd>
                                @Html.ToUserTime(Model.Household.Established, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
                            </dd>

                            <dt></dt>
                            <dd>&nbsp;</dd>

                            <dt></dt>
                            <dd>
                                @Html.ActionLink("Edit this Household's Name", "Edit", new { id = Model.Household.Id }, new { style = "color:#ebe0eb" })
                            </dd>

                            <dt></dt>
                            <dd>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Back to List of Households (Admin Only)", "Index", null, new { style = "color:#ebe0eb" })
                                    }
                                }
                            </dd>
                        </dl>

                        <br />

                        <table class="table">
                            <tr>
                                <th>Members</th>
                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (var member in Model.SelectedUsers)
                            {
                                <tr>
                                    <td>
                                        @member.Fullname
                                    </td>

                                    @if (member.Id == ViewBag.CurrentUserId)
                                    {
                                        <td>
                                            @Html.ActionLink("Update Profile", "Index", "Manage", null, new { style = "color:#ebe0eb" })
                                        </td>

                                        if (member.Email == "DemoUser@coderfoundry.com")
                                        {
                                            <td>
                                                &nbsp;
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Leave this Household", "LeaveHousehold", "Households", null, new { style = "color:#ebe0eb" })
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }

                                </tr>
                            }

                        </table>
                    </div>

                    <div class="col-md-12">

                        <hr />

                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <p>Invite another person to join this Household</p>

                                @{if (Request.IsAuthenticated)    // Confirm user is logged in before allowing Invitation creation.
                                    {
                                        using (Html.BeginForm("Create", "Invitations", new { HouseholdId = Model.Household.Id }, FormMethod.Post, null))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="row">
                                                <div class="col-md-12" style="text-align:center">
                                                    <input name="Email" type="email" class="form-control" placeholder="Email" />
                                                    <button class="btn btn-default center-block" style="margin-top:10px" type="submit">Submit Invitation</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="col-md-8">

                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">

                                    <thead>
                                        <tr>
                                            <th>
                                                Email of Person Invited
                                            </th>
                                            <th>
                                                Invitation issued
                                            </th>
                                            <th>
                                                Invitation expires
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var invitation in Model.OpenInvitations)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => invitation.Email)
                                                </td>
                                                <td>
                                                    @Html.ToUserTime(invitation.DateTimeIssued, ViewBag.UserTimeZone as string, "MM/dd/yyyy | hh:mm:ss")
                                                </td>
                                                <td>
                                                    @Html.ToUserTime(invitation.DateTimeExpires, ViewBag.UserTimeZone as string, "MM/dd/yyyy | hh:mm:ss")
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.ActionLink("Delete", "Delete", "Invitations", new { id = invitation.Id }, new { style = "color:#ebe0eb" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!-- Datatables-->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/pages/datatables.init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable-responsive').DataTable();
        });
        TableManageButtons.init();
    </script>
}
