@*@model jritchieFinancialPortal.Models.CodeFirst.Household*@
@model jritchieFinancialPortal.Models.HouseholdUserViewModel

@{
    ViewBag.Title = "Household Details";
}

<h2>Household Details</h2>

<div>
    @*<h4>Household</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household.Established)
        </dt>

        <dd>
            @Html.ToUserTime(Model.Household.Established, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
            @*@Html.DisplayFor(model => model.Established)*@
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit this Household's Name", "Edit", new { id = Model.Household.Id })

        @{
            if (User.IsInRole("Admin"))
            {
                <span>&nbsp;|&nbsp;</span>
                @Html.ActionLink("Back to List of Households", "Index")
            }
        }
    </p>

    <br />

    <table class="table">
        <tr>
            <th>Members</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var member in Model.SelectedUsers)
        {
            <tr>
                <td>
                    @member.Fullname
                </td>

                @if (member.Id == ViewBag.CurrentUserId)
                {
                    <td>
                        @Html.ActionLink("Update Profile", "Index", "Manage")
                    </td>

                    <td>
                        @Html.ActionLink("Leave this Household", "LeaveHousehold", "Households")
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }

            </tr>
        }

    </table>
</div>

<hr />

<br>

<p>Invite another person to join this Household</p>

@{if (Request.IsAuthenticated)    // Confirm user is logged in before allowing Invitation creation.
    {
        using (Html.BeginForm("Create", "Invitations", new { HouseholdId = Model.Household.Id }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-4" style="text-align:center">
                    <input name="Email" type="email" class="form-control" placeholder="Email" />
                    <button class="btn btn-primary center-block" style="margin-top:10px" type="submit">Submit Invitation</button>
                    <br />
                    @Html.ActionLink("Review Invitations", "Index", "Invitations", null, null)
                </div>
            </div>
            @*<div>
                <input name="Email" type="email" class="form-control" placeholder="Email" />
                <button class="btn btn-primary center-block" type="submit">Submit Invitation</button>
            </div>*@
        }
    }
}
