@model jritchieFinancialPortal.Models.CodeFirst.Invitation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Invitation</h2>

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Household Name
            @*@Html.DisplayNameFor(model => model.Household.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            Email of Invitee
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Invitation issued
            @*@Html.DisplayNameFor(model => model.DateTimeIssued)*@
        </dt>

        <dd>
            @Html.ToUserTime(Model.DateTimeIssued, ViewBag.UserTimeZone as string, "MM/dd/yyyy | hh:mm:ss")
            @*@Html.DisplayFor(model => model.DateTimeIssued)*@
        </dd>

        <dt>
            Invitation expires
            @*@Html.DisplayNameFor(model => model.DateTimeExpires)*@
        </dt>

        <dd>
            @Html.ToUserTime(Model.DateTimeExpires, ViewBag.UserTimeZone as string, "MM/dd/yyyy | hh:mm:ss")
            @*@Html.DisplayFor(model => model.DateTimeExpires)*@
        </dd>

    </dl>

    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
