@model IEnumerable<jritchieFinancialPortal.Models.CodeFirst.Invitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Household Name
            @*@Html.DisplayNameFor(model => model.Household.Name)*@
        </th>
        <th>
            Email of Person Invited
            @*@Html.DisplayNameFor(model => model.Email)*@
        </th>
        <th>
            Invitation issued
            @*@Html.DisplayNameFor(model => model.DateTimeIssued)*@
        </th>
        <th>
            Invitation expires
            @*@Html.DisplayNameFor(model => model.DateTimeExpires)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Household.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeExpires)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
