@model jritchieFinancialPortal.Models.CodeFirst.Category

@{
    ViewBag.Title = "Delete Category";
}

<h2>Delete Category</h2>
<h4>@ViewBag.CurrentUserHouseholdName</h4>


<div>
    @*<h4>Category</h4>*@

    <hr />
    <h5>Are you sure you want to delete this?</h5>

    <dl class="dl-horizontal">
        <dt>
            Type
            @*@Html.DisplayNameFor(model => model.TransactionType.Name)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
