@model jritchieFinancialPortal.Models.CodeFirst.Transaction

@{
    ViewBag.Title = "Create Transaction";
}

@*<h2>Create Transaction</h2>
    <h4>@ViewBag.CurrentUserHouseholdName</h4>*@


<!-- Plugins css-->
<link href="~/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">


<script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>

<script language="javascript" type="text/javascript">
    function GetCategory(_typeId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CategoryId").html(procemessage).show();
        //var url = "Url.Action(GetCategoryByType)";
        var url = "/Transactions/GetCategoryByType/";

        $.ajax({
            url: url,
            data: {
                typeid: _typeId,
                __RequestVerificationToken: gettoken(),
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--  Select  --</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CategoryId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

<script src="~/Assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    // Date Picker
    $(document).ready(function () {
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
    });
</script>


<div class="modal-body">
    <div class="container">

        <div class="row" style="margin-top:10px">
            <div class="col-sm-12">
                <div class="card-box table-responsive">

                    <div class="row">
                        <h4 class="header-title m-t-0 m-b-30">Record Transaction</h4>

                        <hr />

                        <div class="col-md-6">
                            @*<div class="row">*@
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Transaction Date</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.DateOfTransaction, new { htmlAttributes = new { @class = "form-control", id = "datepicker-autoclose" } })
                                                @*<input name="DateOfTransaction" type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">*@
                                                <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                                            </div><!-- input-group -->
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.DateOfTransaction, "Transaction Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.DateOfTransaction, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateOfTransaction, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountId, "Account ", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.AccountId, (SelectList)ViewBag.AccountId, "--  Select  --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <textarea name="Description" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>

                                    @using (Html.BeginForm())
                                    {
                                        @*@Html.AntiForgeryToken()*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Category.TransactionTypeId, "Transaction Type", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.Category.TransactionTypeId, (SelectList)ViewBag.TransactionTypeId, "--  Select  --", new { @class = "form-control", id = "transactionType", @onchange = "javascript:GetCategory(this.value);" })
                                                @Html.ValidationMessageFor(model => model.Category.TransactionTypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <select class="form-control" id="CategoryId" name="CategoryId"></select>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-md-6">

                            <div class="col-md-12">
                                <div class="panel panel-border panel-gold" style="background:linear-gradient(to top, #382538 0%, #cc0052 90%)">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Available Balances</h3>
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-condensed table-striped m-0">
                                            <thead>
                                                <tr>
                                                    <th>Account</th>
                                                    <th style="text-align:center">Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.BankAccountBalances)
                                                {
                                                    if (item.Balance < 0)
                                                    {
                                                        <tr style="background-color:gold !important; color:#382538">
                                                            <td>
                                                                <span>@item.Name</span>
                                                            </td>
                                                            <td style="text-align:right">
                                                                <span>@item.Balance</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>
                                                                <span>@item.Name</span>
                                                            </td>
                                                            <td style="text-align:right">
                                                                <span>@item.Balance</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div><!-- end inner col -->

                        </div><!-- end outer col -->
                    </div>

                    @*<hr />

                        <div class="row" style="text-align:center">
                            <a href="@Url.Action("Index")" style="color:#ebe0eb"><i class="fa fa-ticket"></i><span> Back to Transaction List </span></a>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
