@model jritchieFinancialPortal.Models.CodeFirst.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Posted
        </dt>

        <dd>
            @Html.ToUserTime(Model.DatePosted, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
        </dd>

        <dt>
            Posted by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedBy.Fullname)
        </dd>

        <br />


        <dt>
            Transaction Date
        </dt>
        <dd>
            @Html.ToUserTime(Model.DateOfTransaction, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
        </dd>

        <dt>
            Account
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Void)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Void)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reconciled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reconciled)
        </dd>

        @{
            if (Model.Reconciled)
            {
                <dt>
                    Reconciled
                </dt>
                <dd>
                    @{
                        if (Model.DateReconciled != null)
                        {
                            @Html.ToUserTime(Model.DateReconciled.Value, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
                        }
                        else
                        {
                            <span>-</span>
                        }
                    }
                </dd>
                <dt>
                    Reconciled by
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReconciledBy.Fullname)
                </dd>
            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Transactions", "Index")
</p>
