@model IEnumerable<jritchieFinancialPortal.Models.CodeFirst.Transaction>

@{
    ViewBag.Title = "Transactions Index";
}

<h2>Transactions Index</h2>
<h4>@ViewBag.CurrentUserHouseholdName</h4>


<p>
    @Html.ActionLink("Add new Transaction", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Account Name
            @*@Html.DisplayNameFor(model => model.Account.Name)*@
        </th>
        <th>
            Category
            @*@Html.DisplayNameFor(model => model.Category.Name)*@
        </th>
        <th>
            Posted by
            @*@Html.DisplayNameFor(model => model.PostedBy.FirstName)*@
        </th>
        <th>
            Reconciled by
            @*@Html.DisplayNameFor(model => model.ReconciledBy.FirstName)*@
        </th>
        <th>
            Date Posted
            @*@Html.DisplayNameFor(model => model.DatePosted)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reconciled)
        </th>
        <th>
            Date Reconciled
            @*@Html.DisplayNameFor(model => model.DateReconciled)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Void)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReconciledBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reconciled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReconciled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Void)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
