@*@model jritchieFinancialPortal.Models.CodeFirst.Budget*@
@model jritchieFinancialPortal.Models.BudgetTransactionsViewModel

@{
    ViewBag.Title = "Budget Details";
}


<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <div class="row">
                    <h4 class="header-title m-t-0 m-b-30">Budget Details</h4>

                    <hr />

                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                Budget Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Name)
                            </dd>

                            <dt>
                                Budget Type
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.TransactionType.Name)
                            </dd>

                            <dt>
                                Category
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Category.Name)
                            </dd>

                            <dt>
                                Frequency
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Frequency.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Budget.Amount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Amount)
                            </dd>
                        </dl>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                @foreach (var item in Model.Transactions)
                                {
                                    <dt>
                                        @item.Description
                                    </dt>
                                    <dd>
                                        @item.Amount.ToString();
                                    </dd>
                                }
                                <dt>Total</dt>
                                <dd>@Model.TotalTransactions.ToString()</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <div class="card-box">
                                <div class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

                                <h4 class="header-title m-t-0 m-b-30">@Model.Budget.Name</h4>

                                <div class="text-center">
                                    <ul class="list-inline chart-detail-list">
                                        <li>
                                            <h5 style="color: #eed391;"><i class="fa fa-circle m-r-5"></i>Actual</h5>
                                        </li>
                                        <li>
                                            <h5 style="color: #b8860b;"><i class="fa fa-circle m-r-5"></i>Budgeted</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div id="bar-example" style="height: 200px;"></div>
                            </div>
                        </div><!-- end col-->
                        @*<div class="col-md-4">
                                    <div class="card-box">
                                        <div class="dropdown pull-right">
                                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>

                                        <h4 class="header-title m-t-0 m-b-30">Bar Chart</h4>

                                        <div class="text-center">
                                            <ul class="list-inline chart-detail-list">
                                                <li>
                                                    <h5 style="color: #ff8acc;"><i class="fa fa-circle m-r-5"></i>Actual</h5>
                                                </li>
                                                <li>
                                                    <h5 style="color: #35b8e0;"><i class="fa fa-circle m-r-5"></i>Budgeted</h5>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="morris-bar-example" style="height: 200px;"></div>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Budget.Id }, new { style = "color:#ebe0eb" }) |
                                @Html.ActionLink("Back to Budgets", "Index", null, new { style = "color:#ebe0eb" })
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Assets/plugins/morris/morris.min.js"></script>

    <script>
        Morris.Bar({
            element: 'bar-example',
            data: [
                { y: '', a: @Model.TotalTransactions, b: @Model.Budget.Amount }

                //{ y: '2006', a: 100, b: 90 },
                //{ y: '2007', a: 75, b: 65 },
                //{ y: '2008', a: 50, b: 40 },
                //{ y: '2009', a: 75, b: 65 },
                //{ y: '2010', a: 50, b: 40 },
                //{ y: '2011', a: 75, b: 65 },
                //{ y: '2012', a: 100, b: 90 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Actual', 'Budgeted'],
            barColors: ['#eed391', '#b8860b'],
            hideHover: ['true'],
            resize: ['true']
        });
    </script>


    <script>
        @*Morris.Donut({
            element: 'donut-ticketStatus',
            data: [
                { label: "Resolved", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Resolved").Count() },
                { label: "In Progress", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "In Progress").Count() },
                { label: "Assigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Assigned").Count() },
                { label: "Unassigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Unassigned").Count() },
            ],
            colors: ["#10c469", "#35b8e0", "#5b69bc", "#ff8acc"]
        });*@
    </script>

    <script>
        @*Morris.Donut({
            element: 'donut-ticketPriority',
            data: [
                { label: "Urgent", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Urgent").Count() },
                { label: "High", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "High").Count() },
                { label: "Medium", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Medium").Count() },
                { label: "Low", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Low").Count() },
            ],
            colors: ["#ff0000", "#ff8000", "#ffff00", "#40ff00"]
        });*@
    </script>

}