@*@model jritchieFinancialPortal.Models.CodeFirst.Budget*@
@model jritchieFinancialPortal.Models.BudgetTransactionsViewModel

@{
    ViewBag.Title = "Budget Details";
}


<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <div class="row">
                    <h4 class="header-title m-t-0 m-b-30">Budget Details</h4>

                    <hr />

                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                Budget Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Name)
                            </dd>

                            <dt>
                                Budget Type
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.TransactionType.Name)
                            </dd>

                            <dt>
                                Category
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Category.Name)
                            </dd>

                            <dt>
                                Frequency
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Frequency.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Budget.Amount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Amount)
                            </dd>
                        </dl>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Budget.Id }, new { style = "color:#ebe0eb" }) |
                                @Html.ActionLink("Back to Budgets", "Index", null, new { style = "color:#ebe0eb" })
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*<dt>
        @Html.DisplayNameFor(model => model.DateCreated)
    </dt>
    <dd>
        @Html.ToUserTime(Model.DateCreated, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateUpdated)
    </dt>
    <dd>
        @Html.ToUserTime(Model.DateCreated, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
    </dd>*@

