@*@model jritchieFinancialPortal.Models.CodeFirst.Budget*@
@model jritchieFinancialPortal.Models.BudgetTransactionsViewModel

@{
    ViewBag.Title = "Budget Details";
}


<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">

            <div class="card-box table-responsive">

                <div class="row">
                    <h4 class="header-title m-t-0 m-b-30">@Model.Budget.Name Details</h4>

                    <hr />

                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                Budget Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Name)
                            </dd>

                            <dt>
                                Budget Type
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.TransactionType.Name)
                            </dd>

                            <dt>
                                Category
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Category.Name)
                            </dd>

                            <dt>
                                Frequency
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Frequency.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Budget.Amount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Amount)
                            </dd>
                        </dl>

                        <hr />

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list">
                                <li>
                                    <h5 style="color: #eed391;"><i class="fa fa-circle m-r-5"></i>Actual</h5>
                                </li>
                                <li>
                                    <h5 style="color: #b8860b;"><i class="fa fa-circle m-r-5"></i>Budgeted</h5>
                                </li>
                            </ul>
                        </div>
                        <div id="bar-example" style="height: 200px;"></div>

                    </div>

                    <div class="col-md-6">
                        <table id="datatable" class="table table-condensed table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th style="text-align:center">Amount</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Transactions)
                                {
                                    <tr>
                                        <td>@item.Description &nbsp; <a href="@Url.Action("_Details", "Transactions", new { id = item.Id } )" data-target="#viewTransactionModal" data-toggle="modal" style="color:gold"><i class="fa fa-question-circle"></i></a></td>
                                        <td style="text-align:right; padding-right:20px">@item.Amount.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p style="color:gold; float:right">Total Transactions: @Model.TotalTransactions.ToString()</p>
                    </div><!-- end col-->
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <hr />

                        <div class="col-md-12" style="text-align:center">
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Budget.Id }, new { style = "color:#ebe0eb" }) |
                                @Html.ActionLink("Back to Budgets", "Index", null, new { style = "color:#ebe0eb" })
                            </p>
                        </div>

                    </div><!-- end col -->
                </div><!-- end row -->

            </div>
        </div>
    </div>
</div>
<!-- end row -->

@*regular modal here*@
<div class="modal fade" id="viewTransactionModal" role="dialog" aria-labelledby="displayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Assets/plugins/morris/morris.min.js"></script>

    <script>
        Morris.Bar({
            element: 'bar-example',
            data: [
                { y: '', a: @Model.TotalTransactions, b: @Model.Budget.Amount }

                //{ y: '2006', a: 100, b: 90 },
                //{ y: '2007', a: 75, b: 65 },
                //{ y: '2008', a: 50, b: 40 },
                //{ y: '2009', a: 75, b: 65 },
                //{ y: '2010', a: 50, b: 40 },
                //{ y: '2011', a: 75, b: 65 },
                //{ y: '2012', a: 100, b: 90 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Actual', 'Budgeted'],
            barColors: ['#eed391', '#b8860b'],
            hideHover: ['true'],
            resize: ['true']
        });
    </script>


    <script>
        $(document).ready(function () {
            $(function () {
                // when the modal is closed
                $('#viewTransactionModal').on('hidden.bs.modal', function () {
                    // remove the bs.modal data attribute from it
                    $(this).removeData('bs.modal');
                    // and empty the modal-content element
                    $('#viewTransactionModal .modal-content').empty();
                });
            });
        });
    </script>



    <script>
        @*Morris.Donut({
            element: 'donut-ticketStatus',
            data: [
                { label: "Resolved", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Resolved").Count() },
                { label: "In Progress", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "In Progress").Count() },
                { label: "Assigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Assigned").Count() },
                { label: "Unassigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Unassigned").Count() },
            ],
            colors: ["#10c469", "#35b8e0", "#5b69bc", "#ff8acc"]
        });*@
    </script>

    <script>
        @*Morris.Donut({
            element: 'donut-ticketPriority',
            data: [
                { label: "Urgent", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Urgent").Count() },
                { label: "High", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "High").Count() },
                { label: "Medium", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Medium").Count() },
                { label: "Low", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Low").Count() },
            ],
            colors: ["#ff0000", "#ff8000", "#ffff00", "#40ff00"]
        });*@
    </script>

    <!-- Datatables-->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/pages/datatables.init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}
