@model IEnumerable<jritchieFinancialPortal.Models.CodeFirst.Budget>

@{
    ViewBag.Title = "Budget Index";
}

<h2>Budget Index</h2>
<h4>@ViewBag.CurrentUserHouseholdName</h4>


<p>
    @Html.ActionLink("Add new Budget", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Budget Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Date Created
        </th>
        <th>
            Type
            @*@Html.DisplayNameFor(model => model.TransactionType.Name)*@
        </th>
        <th>
            Category
            @*@Html.DisplayNameFor(model => model.Category.Name)*@
        </th>
        <th>
            Frequency
            @*@Html.DisplayNameFor(model => model.Frequency.Name)*@
        </th>
        <th>
            Amount
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ToUserTime(item.DateCreated, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency.Name)
        </td>
        <td style="text-align:right; padding-right:25px">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@*<th>
    Created
    @Html.DisplayNameFor(model => model.DateCreated)
</th>
<th>
    Updated
    @Html.DisplayNameFor(model => model.DateUpdated)
</th>
<td>
    @Html.DisplayFor(modelItem => item.DateCreated)
</td>
<td>
    @Html.DisplayFor(modelItem => item.DateUpdated)
</td>*@
