@model jritchieFinancialPortal.Models.CodeFirst.BankAccount

@{
    ViewBag.Title = "Delete";
}




<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Close Account</h4>

                <hr />

                <div class="row">

                    <h5>Are you sure you want to close this Account?</h5>

                    <dl class="dl-horizontal">
                        <dt>
                            Bank
                            @*@Html.DisplayNameFor(model => model.Bank.Name)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bank.Name)
                        </dd>

                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        <dt>
                            Household
                            @*@Html.DisplayNameFor(model => model.Household.Name)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Household.Name)
                        </dd>

                        <dt>
                            Account Name
                            @*@Html.DisplayNameFor(model => model.Name)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Balance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Balance)
                        </dd>

                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>

                        <dt>
                            Account Opened
                            @*@Html.DisplayNameFor(model => model.Opened)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Opened)
                        </dd>

                        <dt>
                            Account Closed
                            @*@Html.DisplayNameFor(model => model.Closed)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Closed)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Close Account" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index", null, new { style = "color:#ebe0eb" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
