@*@model jritchieFinancialPortal.Models.CodeFirst.Budget*@
@*@model jritchieFinancialPortal.Models.DashTransactionsViewModel*@

@model IEnumerable<jritchieFinancialPortal.Models.DashTransactionsViewModel>




@{
    ViewBag.Title = "Dashboard";
}


<div class="container slide-in-right">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">

            @*<div class="card-box table-responsive">
                <div class="row">*@

            @{
                int chart = 0;
                foreach (var bankAccount in Model)
                {
                    <div class="card-box table-responsive">
                        <div class="row">

                            <div class="col-xs-4">
                                <div class="text-center">
                                    <h4 class="header-title m-t-0 m-b-30">@bankAccount.AccountName</h4>

                                    @if(bankAccount.AccountOverdrawn)
                                    {
                                        <p style="margin-top:-26px; color:gold">Account Overdrawn</p>
                                        <hr style="margin-top:-6px" />
                                    }
                                    else
                                    {
                                        <hr />
                                    }

                                    <p>@bankAccount.CurrentYear Year-to-Date</p>
                                    <ul class="list-inline chart-detail-list">
                                        <li>
                                            <h5 style="color: #b8860b;"><i class="fa fa-circle m-r-5"></i>Total Income</h5>
                                        </li>
                                        <li>
                                            <h5 style="color: #eed391;"><i class="fa fa-circle m-r-5"></i>Total Expenses</h5>
                                        </li>
                                    </ul>
                                </div>

                                @*<div id="bar-example" style="height: 200px;"></div>*@
                                <div id="bar-example + (@chart)" style="height: 200px;"></div>

                            </div>

                            <div class="col-xs-8">
                                @{
                                    if (bankAccount.Transaction.Count == 1)
                                    {
                                        <p style="margin-top:14px">Last @bankAccount.Transaction.Count transaction</p>
                                    }
                                    else
                                    {
                                        <p style="margin-top:14px">Last @bankAccount.Transaction.Count transactions</p>
                                    }
                                }

                                <table id="datatable-responsive" class="table table-striped table-bordered table-condensed dt-responsive nowrap" cellspacing="0" width="100%">

                                    <thead>
                                        <tr>
                                            <th>
                                                Transaction Date
                                            </th>
                                            @*<th>
                                                Account Name
                                            </th>*@
                                            <th>
                                                Description
                                                @*@Html.DisplayNameFor(bankAccount.Transaction    model => model.Transaction.        .Transaction.Description)*@
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Amount
                                                @*@Html.DisplayNameFor(model => model.Amount)*@
                                            </th>
                                            @*<th>
                                                Reconciled
                                            </th>
                                            <th>
                                                Void
                                            </th>
                                            <th></th>*@
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in bankAccount.Transaction)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ToUserTime(item.DateOfTransaction, ViewBag.UserTimeZone as string, "MM/dd/yyyy")
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.Account.Name)
                                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                                </td>
                                                <td style="text-align:right; padding-right:25px">
                                                    @if (item.Amount < 0)
                                                    {
                                                        <span style="color:#ff99c2">@Html.DisplayFor(modelItem => item.Amount)</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:#99ffeb">@Html.DisplayFor(modelItem => item.Amount)</span>
                                                    }
                                                </td>

                                                @*<td style="text-align:center">
                                                     *** Reconciled checkbox. *** 
                                                    @if (item.Reconciled)
                                                    {
                                                        <div class="checkbox checkbox-success checkbox-circle">
                                                            <input id="checkbox-Reconciled" type="checkbox" name="Reconciled" value="true" checked disabled>
                                                            <label for="checkbox-Reconciled">
                                                                &nbsp;
                                                            </label>
                                                        </div>
                                                    }
                                                    @if (!item.Reconciled)
                                                    {
                                                        <div class="checkbox checkbox-success checkbox-circle">
                                                            <input id="checkbox-Reconciled" type="checkbox" name="Reconciled" value="true" disabled>
                                                            <label for="checkbox-Reconciled">
                                                                &nbsp;
                                                            </label>
                                                        </div>
                                                    }
                                                </td>*@

                                                @*<td style="text-align:center">
                                                     *** Void checkbox. *** 
                                                    @if (item.Void)
                                                    {
                                                        <div class="checkbox checkbox-danger checkbox-circle">
                                                            <input id="checkbox-Void" type="checkbox" name="Void" value="true" checked disabled>
                                                            <label for="checkbox-Void">
                                                                &nbsp;
                                                            </label>
                                                        </div>
                                                    }
                                                    @if (!item.Void)
                                                    {
                                                        <div class="checkbox checkbox-danger checkbox-circle">
                                                            <input id="checkbox-Void" type="checkbox" name="Void" value="true" disabled>
                                                            <label for="checkbox-Void">
                                                                &nbsp;
                                                            </label>
                                                        </div>
                                                    }
                                                </td>*@

                                                @*<td style="text-align:center">
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color:#ebe0eb" }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "color:#ebe0eb" })
                                                </td>*@
                                            </tr>

                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    chart++;

                }
            }

            @*</div>
                </div>*@

        </div>
    </div>
</div>
<!-- end row -->
@*regular modal here*@
@*<div class="modal fade" id="viewTransactionModal" role="dialog" aria-labelledby="displayModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>*@



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Assets/plugins/morris/morris.min.js"></script>
    @{
        int chart1 = 0;
        foreach (var bankAccount in Model)
        {
            <script>
                Morris.Bar({
                    //element: 'bar-example',
                    element: 'bar-example + (@chart1)',
                    data: [
                        { y: '', a: @bankAccount.TotalIncomeTransactions, b: @bankAccount.TotalExpenseTransactions }

                        @*//{ y: '', a: @Model.TotalTransactions, b: @Model.Budget.Amount }*@

                        //{ y: '', a: 90.96, b: 100.00 }
                        //{ y: '', a: 139.74, b: 1000.02 },
                        //{ y: '', a: 0.00, b: 0.03 },
                        //{ y: '', a: 20.00, b: 0.00 }
                    ],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Income', 'Expenses'],
                    barColors: ['#b8860b','#eed391'],
                    hideHover: ['true'],
                    resize: ['true']
                });
            </script>

            chart1++;
        }
    }

    <script>
        $(document).ready(function () {
            $(function () {
                // when the modal is closed
                $('#viewTransactionModal').on('hidden.bs.modal', function () {
                    // remove the bs.modal data attribute from it
                    $(this).removeData('bs.modal');
                    // and empty the modal-content element
                    $('#viewTransactionModal .modal-content').empty();
                });
            });
        });
    </script>




    <!-- Datatables-->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/pages/datatables.init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}
